# Node
node_modules/
functions/node_modules/
npm-debug.log*

# Firebase
.firebase/
*-debug.log

# IDE
.idea/

# Default ignored files
/shelf/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
